
input,select{
outline:none;
}

input[type="text"],
select{
border:1px solid #C2C2C2;
-webkit-border-radius:5px;
-moz-border-radius:5px;
-ms-border-radius:5px;
-o-border-radius:5px;
border-radius:5px;
background-color:#ffffff;
padding-left:3px;
padding-top:5px;
padding-right:3px;
padding-bottom:5px;
}

select::-ms-expand{
display:none;
}

select{
-webkit-appearance:none;
-moz-appearance:none;
background:transparent;
background-image:url("data:image/svg+xml;base64,PHN2ZyBmaWxsPSdibGFjaycgaGVpZ2h0PScyNCcgdmlld0JveD0nMCAwIDI0IDI0JyB3aWR0aD0nMjQnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zyc+PHBhdGggZD0nTTcgMTBsNSA1IDUtNXonLz48cGF0aCBkPSdNMCAwaDI0djI0SDB6JyBmaWxsPSdub25lJy8+PC9zdmc+");
background-repeat:no-repeat;
background-position-x:100%;
background-position-y:2px;
padding-right:1.5rem;
}

.dragscroll a,.dragscroll a:link,.dragscroll a:active {
text-decoration:none;
background-color:inherit;
color:#18507C;
}

.dragscroll a:visited {
text-decoration:none;
background-color:inherit;
color:#18507C;
}

.dragscroll a:hover {
text-decoration:underline;
background-color:inherit;
color:#385C72;
}

#pvs_filter{
display:inline-block;
}

.pvs_pagination{
float:right;
display:inline-block;
}

#pvs_filter select{
margin-top:10px;
margin-right:3px;
font-size:medium;
}

.pvs_pagination select{
margin-top:10px;
font-size:medium;
}

.pvs_clear{
clear:both;
}

.pvs_ln{
background:#f0f0f0;
}

.pvs_table{
width:100%;
display:table;
border-collapse:collapse;
}

.pvs_thead{
display:table-header-group;
}
  
.pvs_tr{
display:table-row;
}
  
.pvs_th{
font-weight:bold;
background-color:#eeeeee;
}

.pvs_th,
.pvs_td,
.pvs_tt{
display:table-cell;
vertical-align:middle;
padding:0 5px;
border:none;
white-space:nowrap;
width:auto;
}

.pvs_alr{
text-align:right;
min-width:50px;
}

.pvs_w100{
width:100%;
}

.pvs_chart{
display:block;
width:152px;
border:1px solid #D0D0D0;
}

.pvs_chart_gauge{
display:block;
height:15px;
background:#6db3f2;
background:-moz-linear-gradient(top,#6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%);
background:-webkit-linear-gradient(top,#6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%);
background:linear-gradient(to bottom,#6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#6db3f2",endColorstr="#1e69de",GradientType=0);
}
    
.pvs_img{
vertical-align:middle;
border:0px;
color-scheme:light dark;
}

#pvs_update{
margin-top:10px;
font-size:medium;
border:1px solid #C2C2C2;
-webkit-border-radius:5px;
-moz-border-radius:5px;
-ms-border-radius:5px;
-o-border-radius:5px;
border-radius:5px;
padding-left:3px;
padding-top:5px;
padding-right:3px;
padding-bottom:5px;
cursor:pointer;
width:30px;
background-color:#ffffff;
background-repeat:no-repeat;
background-position:center center;
background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAQAAAD8x0bcAAAAnElEQVQoFY3BMQ7BUBgA4C8izbuDA71DMNl7FiuDMxh7AQmxlHtYMHT8pen0qsL3mZD8oZH8FBrJF5XayUsIB5MWWuFmK3SyCZXWw1Kvk/Vm5gq1sDLIBntrhbOrsYujwtPO2MZd4W5jbOepcHQxdnVWWNsbZIOVUCvMzfSyTm/poVWZkHXC1k1oLUw6COHlpFb5ImmEn5LGH5IPb2W9MxtdyEvTAAAAAElFTkSuQmCC");
}

#pvs_update:hover{
border-color:#2d6987;
background-color:#eeeeee;
}

.dragscroll{
margin-top:5px;
overflow-x:auto;
overflow-y:auto;
background-color:#ffffff;
white-space:nowrap;
}

.pvs_config{
margin-top:10px;
text-align:center;
}

@media screen and (max-width:500px){
.pvs_pagination{
margin-top:0;
float:none;
}
.dragscroll{
margin-bottom:10px;
}
#pvs_filter,.pvs_pagination{
display:block;
text-align:center;
}
}
