
.dragscroll a, .dragscroll a:link, .dragscroll a:active {
text-decoration:none;
background-color:inherit;
color:#18507C;
}

.dragscroll a:visited {
text-decoration:none;
background-color:inherit;
color:#18507C;
}

.dragscroll a:hover {
text-decoration:underline;
background-color:inherit;
color:#385C72;
}

#id_filter, #id_pagination{
display:inline-block;
margin-top:10px;
}

#id_pagination{
float:right;
}

#id_filter select{
margin-right:3px;
font-size:medium;
}

#id_pagination select{
font-size:medium;
}

.pvs_clear{
clear:both;
}

.pvs_ln{
background:#f0f0f0;
}

.pvs_table{
width:100%;
display:table;
border-collapse:collapse;
}

.pvs_thead{
display:table-header-group;
}
  
.pvs_tr{
display:table-row;
}
  
.pvs_th{
font-weight:bold;
background-color:#eeeeee;
}

.pvs_th,
.pvs_td,
.pvs_tt{
display:table-cell;
padding:0 5px;
border:none;
white-space:nowrap;
width:auto;
}

.pvs_alr{
text-align:right;
min-width:50px;
}

.pvs_w100{
width:100%;
}

.pvs_chart{
display:block;
width:101px;
height:14px;
border:1px solid #D0D0D0;
}

.pvs_chart_gauge{
display:block;
height:13px;
background:#6db3f2;
background:-moz-linear-gradient(top,#6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%);
background:-webkit-linear-gradient(top,#6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%);
background:linear-gradient(to bottom,#6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#6db3f2",endColorstr="#1e69de",GradientType=0);
}
    
.pvs_img{
vertical-align:middle;
border:0px;
}

#id_update{
font-size:medium;
background-repeat:no-repeat;
background-position:center center;
width:32px;
border:1px solid #cccccc;
background-color:#dddddd;
border-style:solid;
cursor:pointer;
}

#id_update:hover{
border-color:#2d6987;
background-color:#eeeeee;
}

.dragscroll{
margin-top:5px;
overflow-x:auto;
overflow-y:auto;
background-color:#ffffff;
white-space:nowrap;
}

@media screen and (max-width:500px){
#id_pagination{
margin-top:5px;
float:none;
}
#id_filter, #id_pagination{
display:block;
text-align:center;
}
}