<IfModule mod_rewrite.c>
RewriteEngine on
RewriteRule windows_xp\.png windows.png
RewriteRule windows_vista\.png windows.png
RewriteRule windows_me\.png windows.png
RewriteRule windows_2000\.png windows.png
RewriteRule windows_98\.png windows.png
RewriteRule windows_95\.png windows.png
RewriteRule windows_11\.png windows.png
RewriteRule windows_10\.png windows.png
RewriteRule windows_8\.png windows.png
RewriteRule windows_7\.png windows.png
RewriteRule mac_osx\.png osx.png
</IfModule>
